<h2>Select Toppings</h2>
<div class="item button" ng-repeat="musttopping in curPizza.mustToppings">
	<label class="fourcols" ng-class="{ selected: order.toppings.indexOf(musttopping) > -1 }"><input type="checkbox" ng-click="toggleSelection(musttopping)" ng-checked="true" disabled="disabled" name="toppings[]" value="{{ musttopping }}" >{{ musttopping }}</label>
</div>
<div class="item button" ng-repeat="opttopping in curPizza.optToppings">
	<label class="fourcols" ng-class="{ selected: order.toppings.indexOf(opttopping) > -1 }"><input type="checkbox" ng-click="toggleSelection(opttopping)" name="toppings[]" value="{{ opttopping }}" >{{ opttopping }}</label>
</div>